@font-face {
    font-family: 'OpenSans';
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

.corte-module-title{
    font-family: "OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3.5em;
    color: #777576;
}

.corte-module-subtitle{
    font-family: "OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    color: #777576;
}