$body-font-family: 'Titillium Web', sans-serif;
$material-light: (
    'background': #F1F0F1
);
$shadow-key-umbra-opacity: rgba(#6187eb, 0.2);
$shadow-key-penumbra-opacity: rgba(#6187eb, 0.14);
$shadow-key-ambient-opacity: rgba(#6187eb, 0.12);